@model dynamic

@if (ViewBag.Role == "SuperAdmin")
{
    <div class="container p-3 ">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-info"> Admin List </h2>
            </div>
            <div class="col-6 text-end">
                @if (ViewBag.Role == "SuperAdmin")
                {
                    <a asp-area="User" asp-controller="User" asp-action="AddAdmin" class="btn btn-info">
                        <i class="bi bi-plus-circle"></i> &nbsp; Add Admin
                    </a>
                }
            </div>
        </div>
    </div>

    <table class="table table-bordered table-striped " @*style="100%"*@ style="background-color:lightgray;">
        <thead>
            <tr>
                <th> Username </th>
                <th> Email </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.admin)
            {
                <tr>
                    <td width="50%"> @obj.UserName </td>
                    <td width="50%"> @obj.Email </td>
                </tr>
            }
        </tbody>
    </table>

    <div id="modelpopup" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="mymodelcontent">
                </div>
            </div>
        </div>
    </div>
}

@if (ViewBag.Role == "SuperAdmin" || ViewBag.Role == "Admin")@* || ViewBag.Role == "Dealer")*@
{
    <div class="container">
        <div class="col-12">
            <h2 class=" text-info"> Dealer List </h2>
        </div>
    </div>

    <table class="table table-bordered table-striped " style="background-color:lightgray;">
        <thead>
            <tr>
                <th> Username </th>
                <th> Email </th>
                <th> Status</th>
                <th> Reason </th>
                <th> Approve/Rejected </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.dealer)
            {
                <tr>
                    <td> @obj.UserName </td>
                    <td> @obj.Email </td>
                    <td> @obj.Status</td>
                    <td> @obj.Reason </td>
                    <td>
                        @if (obj.Status == ShowAll.Status.Pending)
                        {
                            <a type="button" asp-action="Approve" asp-route-email="@obj.Email" asp-controller="User" class="btn btn-sm btn-success">Approve</a>
                            <button type="button" onclick="addpopup('@obj.Email')" class="btn btn-sm btn-danger">Rejected</button>
                            //<a type="button" asp-action="Delete" asp-route-email="@obj.Email" asp-controller="User" class="btn btn-sm btn-success">Delete</a>
                        }
                        else if (obj.Status == ShowAll.Status.Approves)
                        {
                            <a type="button" asp-action="Block" asp-route-email="@obj.Email" class="btn btn-sm btn-success">Block</a>
                        }
                        else if (obj.Status == ShowAll.Status.Block)
                        {
                            <a type="button" asp-action="Unblock" asp-route-email="@obj.Email" class="btn btn-sm btn-success">UnBlock</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div id="modelpopup" class="modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div id="mymodelcontent">
                </div>
            </div>
        </div>
    </div>
}

@if (ViewBag.Role == "SuperAdmin" || ViewBag.Role == "Admin" || ViewBag.Role == "Dealer")
{
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6 ">
                <h2 class=" text-info"> Product List </h2>
            </div>
            <div class="col-6 text-end">
                @if (ViewBag.Role == "Dealer")
                {
                    <a asp-area="User" asp-controller="Product" asp-action="AddProduct" class="btn btn-primary">
                        <i class="bi bi-plus-square"></i> &nbsp; Create New Product
                    </a>
                }
            </div>
        </div>
    </div>

    <table class="table table-bordered table-striped " style="background-color:lightgray;">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Main Price</th>
                <th>Discounted Price</th>
                <th>IsActive</th>
                @if (ViewBag.Role == "Dealer")
                {
                    <th>Action</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.product)
            {
                <tr>
                    <td> @obj.Name </td>
                    <td> @obj.Description </td>
                    <td> @obj.Price </td>
                    <td> @obj.DiscountAmount</td>

                    <td class="text-center">
                        @if (@obj.IsActive == true)
                        {
                            <a asp-controller="Product" asp-action="Active" asp-route-id="@obj.Id" class="btn btn-success mx-4">Active</a>
                        }
                        else
                        {
                            <a asp-controller="Product" asp-action="DeActive" asp-route-id="@obj.Id" class="btn btn-dark mx-3">InActive</a>
                        }
                    </td>
                    @if (ViewBag.Role == "Dealer")
                    {
                        <td class="text-center">
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Product" asp-action="AddProduct" asp-route-id="@obj.Id" class="btn btn-info mx-2">
                                    <i class="bi bi-pencil-square"></i> Update
                                </a>
                                <a asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@obj.Id" class="btn btn-info mx-2">
                                    <i class="bi bi-trash-fill"></i> Delete
                                </a>
                                <a asp-controller="Product" asp-action="AddDiscount" asp-route-id="@obj.Id" class="btn btn-info mx-2">
                                    <i class="bi bi-trash-fill"></i> AddDiscount
                                </a>
                            </div>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts
    {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}

<script>
    function addpopup(email) {


        $.ajax({
            url: '/User/User/Popup',
            type: "GET",
            data: "email=" + email,
            success: function (result) {

                $("#mymodelcontent").html(result);
                $("#modelpopup").show();
            },
            error: function (err) {
                console.log(err);

            }
        });
    }
    function rejectData() {
        debugger;
        var email = document.getElementById("email").value;
        var reson = document.getElementById("reson").value;

        $.ajax({
            url: '/User/User/Reject',
            type: "POST",
            data: { 'email': email, 'reason': reson },
            success: function (result) {
                debugger;
                console.log(result);
                $("body").html(result);
            },
            error: function (err) {
                debugger;
                console.log(err);

            }
        });
    }
</script>